<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/simple-grid/simple-grid.html">


<dom-module id="photos-ui">
  <template>
   
    <custom-style>
        <style is="custom-style">
            body {
          display: flex;
          align-items: center;
          justify-content: center;
            }
            paper-card {
            max-width: 500px;
            margin:10px;     
          font-family: 'Roboto', 'Noto', sans-serif;
          font-size: 14px;
            }
            .cafe-header { @apply --paper-font-headline; }
            .cafe-light { color: var(--paper-grey-600); }
            .cafe-location {
          float: right;
          font-size: 15px;
          vertical-align: middle;
            }
            .cafe-reserve { color: var(--google-blue-500); }
            iron-icon.star {
          --iron-icon-width: 16px;
          --iron-icon-height: 16px;
          color: var(--paper-amber-500);
            }
            iron-icon.star:last-of-type { color: var(--paper-grey-500); }
            paper-button.green {
    background-color: var(--paper-green-500);
    color: white;
  }
  paper-button.green[active] {
    background-color: var(--paper-red-500);
  }
          </style>
    </custom-style>
 
    <simple-grid>
        <simple-grid-row>    
            <paper-input  type="number" always-float-label label="Ingrese Nro de Album" value="{{filterVal::input}}"></paper-input>

          <template is="dom-repeat" items="{{photos}}"  filter="{{_filter(filterVal)}}"  >            
            <div class="col-sm-4">
                <paper-card image="{{item.url}}}">
                  <div class="card-content">
                    <div class="cafe-header">Albúm Nro {{item.albumId}}
                      <div class="cafe-location cafe-light">
                        <iron-icon icon="communication:location-on"></iron-icon>
                        <span>250ft</span>
                      </div>
                    </div>
                    <div class="cafe-rating">
                      <iron-icon class="star" icon="star"></iron-icon>
                      <iron-icon class="star" icon="star"></iron-icon>
                      <iron-icon class="star" icon="star"></iron-icon>
                      <iron-icon class="star" icon="star"></iron-icon>
                      <iron-icon class="star" icon="star"></iron-icon>
                    </div>
                    <p>$・Italian, Cafe</p>
                    <p class="cafe-light">Small plates, salads &amp; sandwiches in an intimate setting.</p>
                  </div>
                  <div class="card-actions">
                    <div class="horizontal justified">
                      <paper-icon-button icon="icons:event"></paper-icon-button>
                      <paper-button>5:30PM</paper-button>
                      <paper-button>7:30PM</paper-button>
                      <paper-button>9:00PM</paper-button>
                      <paper-button toggles raised class="green">Reserve</paper-button>
                    </div>
                  </div>
                </paper-card>
            </div>

            </template>
            </simple-grid-row>
          </simple-grid>

  </template>

  <script>  
    class PhotostUi extends Polymer.Element {
      static get is() { return 'photos-ui'; }
      static get properties() {
        return {
          photos: {
            type: Array,
            value: [],
            observer:'_updatePhotostUi'
          }
        };
       
      }
      _updatePhotostUi(){
        console.log('PhotostUi._updatePhotostUi:', this.photos);
        }
    _filter(val)  {
      console.log(val);
        return function(item) {
      return item.albumId == val ;
      }
    }
    }

    window.customElements.define(PhotostUi.is, PhotostUi);
  </script>
</dom-module>
