<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../photos-dp/photos-dp.html">

<dom-module id="photos-dm">
  <template>    
  <photos-dp id="photoId"  photos="{{photos}}"></photos-dp>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PhotosDm extends Polymer.Element {
      static get is() { return 'photos-dm'; }
      static get properties() {
        return {
          photos: {
            type: Array,
            notify:true
          }
        };
      }
      constructor(){
        super();
        console.log('this:'+this.$)
       
      }
      ready() {
        super.ready();
        console.log('PhotosDm Ejecutándose ready');
        console.log('photoId:'+this.$.photoId)
        if(this.$.photoId != undefined && this.$.photoId != null){
          this.dorequest();
        }
       
      }
      connectedCallback() {
        super.connectedCallback();
        console.log('PhotosDm Ejecutándose connectedCallback');
        console.log('photoId:'+this.$.photoId)

      }
      dorequest(){
        console.log('doRequest');
        this.$.photoId.requestToPhotos();

      }    
     
    }

    window.customElements.define(PhotosDm.is, PhotosDm);
  </script>
</dom-module>
