<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../photos-dm/photos-dm.html">
<link rel="import" href="../photos-ui/photos-ui.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html">
<dom-module id="app-photos-app">
  <template>
    <style>
      :host {
        display: block;
      }
      h2{
       
        font-family: 'Roboto', 'Noto', sans-serif;
          font-size: 50px;
      }
    </style>

<custom-style>
  
</custom-style>

    <h2>Galeria de Fotos</h2>
    <photos-dm photos="{{photos}}"></photos-dm>
    <photos-ui photos="{{photos}}"></photos-ui>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AppPhotosApp extends Polymer.Element {
      static get is() { return 'app-photos-app'; }
      static get properties() {
        return {
          photos: {
            type: Array,
            observer: '_updatePhotos'
          }
        };
      }
      _updatePhotos(){
        console.log('Main._updatePhotos:', this.photos);
      }
    }

    window.customElements.define(AppPhotosApp.is, AppPhotosApp);
  </script>
</dom-module>
