<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="photos-dp">
  <template>
               <!--  params='{"albumId":"2"}' -->

    <iron-ajax
            id="ajaxContent"
            url="https://jsonplaceholder.typicode.com/photos"

            handle-as="json"
            last-response="{{response}}"
            last-error="{{error}}"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PhotosDp extends Polymer.Element {
      static get is() { return 'photos-dp'; }
      static get properties() {
        return {
          photos: {
            type: Array,
            notify: true
          },
          response :{
            type: Object,
            observer : '_getResponse'
          }
        };
      }
      requestToPhotos(){
        console.log('PhotosDp.requestToPhotos')
        this.$.ajaxContent.generateRequest();
      }
      _getResponse(){
        console.log('_getResponse:', this.response);
        this._formtResponse(this.response);
      }
      _formtResponse(response){
        let resultado = [];
        let photos;
        response.forEach(element => {
          photos=element;
          if(element.id < 100)
            resultado.push(photos);   
        });
        console.log(resultado.length);
        this.set('photos',resultado);

      }
    }

    window.customElements.define(PhotosDp.is, PhotosDp);
  </script>
</dom-module>
